:root {
  line-height: 1.4;

  font-family: "Inter", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  font-weight: 300;
  padding: 0 calc(0.5rem * 3);
}

h1,
h2,
h3 {
  font-weight: 900;
}

.card {
  margin-top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.input-field {
  box-sizing: border-box;
  width: 30%;
  border: 3px solid currentColor;
  padding: calc(0.5rem * 1.5) 0.5rem;
  color: currentColor;
  background: transparent;
  border-radius: 20px;
}

.btn {
  width: 5%;
  border: 3px solid currentColor;
  padding: calc(0.5rem * 1.5) 0.5rem;
  border-radius: 20px;
  font-weight: 900;
  background-color: #fff;
  margin-left: calc(0.5rem * 2.5);
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
  border: none;
  transition-duration: 800ms;
}
.center {
  text-align: center;
}
