.input-field {
  box-sizing: border-box;
  border: 3px solid currentColor;
  padding: calc(0.5rem * 1.5) 0.5rem;
  color: currentColor;
  background: transparent;
  font-weight: 900;
  font-size: 15px;
  border-radius: 20px;
}

.card {
  border: 0;
  margin: 30px 0px 10px 0px;
  justify-content: center;
  align-items: baseline;
  display: flex;
  flex-direction: row;
}
.btn {
  border: 3px solid currentColor;
  padding: calc(0.5rem * 1.5) 0.5rem;
  border-radius: 20px;
  font-weight: 900;
  background-color: #fff;
  margin-left: calc(0.5rem * 0.5);
  cursor: pointer;
  color: currentColor;
  font-size: 15px;
  color: currentColor;
}

.btn:hover {
  background-color: black;
  color: white;
  border: 3px solid black;
  transition-duration: 800ms;
}
