:root {
  line-height: 1.4;

  font-family: "Inter", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  font-weight: 300;
  padding: 0 calc(0.5rem * 3);
}

.mx-md {
  padding: 0 calc(0.5rem * 3);
  max-width: 720px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.heading {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: calc(1.6rem + 0.4vw);
  font-weight: bold;
}

